<div class="main">
  <div class="login">
    <div class="image">
      <img src="assets/login image.png" alt="Signup Image" />
    </div>
    <div class="login-details">
      <h2>Sign up to start your<br>learning journey</h2>

      <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
        <input
          type="text"
          name="fullName"
          [(ngModel)]="fullName"
          required
          placeholder="Full Name"
        />
        <br />
        <input
          type="email"
          name="email"
          [(ngModel)]="email"
          required
          placeholder="Email"
        />
        <br />
        <button type="submit">Continue with email</button>
      </form>

      <div class="divider">Or sign up using</div>
      <div class="social-login">
        <img src="assets/Google.png" alt="Sign up with Google" />
        <img src="assets/facebook.webp" alt="Sign up with Facebook" />
        <img src="assets/apple.png" alt="Sign up with Apple" />
      </div>

      <div class="login-links">
        <p>Already have an account? <a href="/login">Log in</a></p>
        <div class="dividerone"></div>
        <p><a href="#">Sign up with your organization</a></p>
      </div>
    </div>
  </div>
</div>
